<div class="container" style="margin-top: 30px;">
    <div class="col-md-12 col-lg-12 col-md-8 col-sm-6">
        <h1 class="display-4">{{bank.name}} Banka</h1>
        <h2 class="display-8">{{bank.address}}</h2>
        <h3 class="display-12">Osnovni podaci</h3>
        <h4 class="display-12">Email: {{bank.email}}</h4>
        <h4 class="display-12">PIB: {{bank.pib}}</h4>
        <h4 class="display-12">Fax: {{bank.fax}}</h4>
        <h4 class="display-12">Telefon: {{bank.phone}}</h4>
        <h4 class="display-12">Code: {{bank.code}}</h4>
        <h4 class="display-12">Broj zaposlenih: {{bank.employees.length}}</h4>
    </div>
</div>